<header class="hero heroLanding">
  <h1>
    马上进行中国象棋
    <br />
    在线对战吧!
  </h1>
  <div class="heroCtas">
    <a class="btn primary" href="/help/">在线对弈</a>
    <a class="btn ghost" href="/download/">下载 App</a>
  </div>
</header>
