<nav class="topNav">
  <div class="brand">
    <a href="/" class="brandLink">
      <span class="brandIcon">相</span>
      <span class="brandText">Xiangqi.com 相弈象棋</span>
    </a>
  </div>
  <div class="menu">
    <div class="menuItem hasDropdown">
      <a href="/help/" class="menuLinkWithArrow">帮助</a>
      <div class="dropdownMenu">
        <a href="/help/">开启象棋之旅</a>
        <a href="/help/">好友对战</a>
        <a href="/help/">自定义残局</a>
        <a href="/help/">比赛</a>
      </div>
    </div>
    <a href="/download/">下载 APP</a>
    <a href="/rules/">如何下象棋</a>
    <div class="menuItem hasDropdown">
      <a href="/" class="menuLinkWithArrow">简中</a>
      <div class="dropdownMenu">
        <a href="/">简中</a>
        <a href="/">繁中</a>
        <a href="/">English</a>
        <a href="/">Tiếng Việt</a>
      </div>
    </div>
  </div>
</nav>
